.hi {
	display: grid;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
	position: relative;
	overflow-y: scroll;
	max-height: 80vh;
	width: 100%;
	scrollbar-width: none !important;
	-ms-overflow-style: none;

	&::-webkit-scrollbar {
		width: 0 !important;
		height: 0 !important;
	}
}
