@import '@/scss/import.scss';

.products {
	display: grid;
	gap: max(8rem, 64px);
	padding: max(6rem, 45px) var(--gutter);

	&-item {
		@extend %jcsb;
		&-img {
			@extend %center;
			height: max(35rem, 352px);
			width: max(33.75rem, 327px);
			background: var(--grey);
			border-radius: max(0.5rem, 8px);
			position: relative;

			img {
				&.headphones {
					height: max(24rem, 201px);
					width: max(180px, 21.875rem);
				}
				&.speakers {
					height: max(22.5rem, 215px);
					width: max(167px, 16.875rem);
				}
				&.earphones {
					height: max(23rem, 270px);
					width: max(270px, 23rem);
				}
			}

			svg {
				position: absolute;
				bottom: 0;
			}
		}

		&-info {
			& > h4 {
				@extend %font-14;
				color: var(--dark-orange);
				letter-spacing: 10px;
				padding-bottom: max(1.5rem, 24px);
			}

			h2 {
				@extend %font-40;
				letter-spacing: 1.43px;
				text-transform: uppercase;
				max-width: max(327px, 27.813rem);
			}

			p {
				@extend %font-15;
				line-height: 1.5;
				opacity: 0.5;
				max-width: max(327px, 27.813rem);
				padding-top: max(2rem, 20px);
			}

			a {
				button {
					margin-top: max(2rem, 28px);
				}
			}

			&-price {
				margin-top: max(2rem, 28px);
				h4 {
					@extend %font-18;
					font-weight: 700;
				}

				footer {
					display: flex;
					gap: max(0.5rem, 8px);
					margin-top: max(2rem, 28px);

					div {
						display: flex;
						align-items: center;
						justify-content: space-evenly;
						width: max(7.5rem, 120px);
						height: max(48px, 3rem);
						background: var(--grey);
						span {
							@extend %font-13;
							font-weight: 700;
							display: block;
							padding-top: 4px;
						}

						button {
							height: max-content;
							svg {
								path {
									transition: var(--transition);
								}
							}

							&:first-child {
								margin-top: -3px;
							}

							&:hover {
								svg {
									path {
										fill: var(--dark-orange);
									}
								}
							}
						}
					}
				}
			}
		}

		@include respondMax('tablet2x') {
			&.qty {
				display: grid;
				grid-template-columns: 1fr 1fr;
				.products-item {
					&-img {
						height: 480px;
					}

					&-info {
						align-items: flex-start;
						text-align: left;
					}
				}
			}
			flex-direction: column;
			gap: 40px;

			&-img {
				width: 100%;
			}

			&-info {
				display: flex;
				flex-direction: column;
				align-items: center;
				text-align: center;

				p {
					max-width: 100%;
				}
			}
		}

		@include respondMax('mobile3x') {
			&.qty {
				display: grid;
				grid-template-columns: 1fr;
				.products-item {
					&-img {
						height: 327px;
					}
				}
			}
		}
	}

	li {
		&:nth-child(even) {
			flex-direction: row-reverse;
		}

		@include respondMax('tablet2x') {
			&:nth-child(even) {
				flex-direction: column;
			}
		}
	}
}
