@import '@/scss/import.scss';

.details {
	padding: max(3rem, 24px) var(--gutter);
	&-header {
		margin-bottom: max(3rem, 24px);

		button {
			@extend %font-15;
			opacity: 0.5;
			transition: var(--transition);
			margin-left: -3.5px;
			&:hover {
				color: var(--dark-orange);
			}
		}
	}

	&-features {
		margin-top: max(8rem, 75px);
		&-grid {
			display: grid;
			grid-template-columns: 2fr 1fr;
			gap: max(6rem, 48px);
			h2 {
				@extend %font-32;
				letter-spacing: 1.14px;
				text-transform: uppercase;
				margin-bottom: max(1.5rem, 24px);
			}

			&-left {
				p {
					@extend %font-15;
					opacity: 0.5;
					line-height: 1.5;
					&:last-child {
						padding-top: max(1.5rem, 24px);
					}
				}
			}

			&-right {
				ul {
					display: grid;
					gap: max(1rem, 16px);

					li {
						@extend %aic;
						@extend %font-15;
						gap: max(1rem, 16px);
						color: var(--dark-orange);
						font-weight: 700;
						span {
							color: var(--black);
							opacity: 0.5;
							font-weight: 400;
						}
					}
				}
			}

			@include respondMax('tablet3x') {
				grid-template-columns: 1fr;

				&-right {
					display: grid;
					grid-template-columns: 1fr 1fr;
				}
			}

			@include respondMax('mobile3x') {
				&-right {
					grid-template-columns: 1fr;
				}
			}
		}
	}

	&-gallery {
		margin-top: max(8rem, 75px);
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: max(1.5rem, 20px);
		&-left {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			gap: max(1.5rem, 20px);
		}
		img {
			border-radius: max(0.5rem, 8px);
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		@include respondMax('mobile3x') {
			grid-template-columns: 1fr;
		}
	}

	&-others {
		margin-top: max(8rem, 75px);
		h2 {
			@extend %font-32;
			text-align: center;
			letter-spacing: 1.14px;
			text-transform: uppercase;
		}

		ul {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: max(1.5rem, 24px);
			margin-top: max(4rem, 64px);
		}

		&-item {
			display: grid;
			place-items: center;
			gap: max(1.5rem, 24px);
			&-img {
				@extend %center;
				height: max(19.875rem, 120px);
				border-radius: max(8px, 0.5rem);
				background: var(--grey);
				width: 100%;

				img {
					width: max(85px, 10.938rem);
					height: max(95px, 11.875rem);
				}
			}

			h3 {
				@extend %font-24;
				letter-spacing: 1.71px;
			}
		}

		@include respondMax('tablet3x') {
			&-item-img {
				height: 318px;
			}
		}

		@include respondMax('mobile3x') {
			ul {
				grid-template-columns: 1fr;
				gap: 40px;
			}

			&-item-img {
				height: 120px;
			}
		}
	}
}
