@import '@/scss/import.scss';

.navbar {
	background: var(--bg-color);
	position: sticky;
	top: 0;
	z-index: 2;

	&.black {
		background: var(--black);
	}

	&-inner {
		@extend %jcsb;
		border-bottom: 1px solid rgba(255, 255, 255, 0.2);
		margin: 0 var(--gutter);
		padding: max(1.5rem, 28px) 0;

		&-left {
			@extend %aic;
			gap: max(2rem, 18px);
			button {
				display: none;
			}
		}

		ul {
			@extend %aic;
			gap: max(1.5rem, 28px);
			li {
				@extend %font-13;
				font-weight: 700;
				a {
					color: var(--white);
					text-transform: uppercase;
					letter-spacing: 2px;
					transition: var(--transition);
				}
				&:hover {
					a {
						color: var(--dark-orange);
					}
				}
			}
		}
		@include respondMax('mobile3x') {
			padding: max(1.5rem, 28px) var(--gutter);
			margin: 0;
			&-left {
				a {
					position: absolute;
					left: 50%;
					transform: translate(-50%, 0);
				}
			}
		}
	}

	@include respondMax('tablet2x') {
		ul {
			display: none;
		}

		&-inner-left {
			button {
				display: block;
			}
		}
	}
}
