@import '@/scss/import.scss';

.products {
	padding: max(10rem, 160px) var(--gutter) max(7rem, 112px);
	ul {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: max(1.5rem, 24px);
	}
	&-item {
		@extend %aic;
		flex-direction: column;
		justify-content: flex-end;
		height: max(12.75rem, 165px);
		border-radius: max(8px, 0.5rem);
		background: var(--grey);
		padding-bottom: max(1.5rem, 24px);
		header {
			@extend %aic;
			flex-direction: column;
			position: relative;
			top: min(-5rem, -40px);
			svg {
				position: absolute;
				bottom: min(-4rem, -50px);
			}
		}

		h4 {
			@extend %font-18;
			color: var(--black);
			letter-spacing: 1.3px;
			margin-bottom: max(1rem, 16px);
		}
	}

	@include respondMax('mobile3x') {
		ul {
			grid-template-columns: 1fr;
			gap: 115px;
		}
	}
}
